<div class="container" style="margin-bottom: 70px">
  <div class="page-header">
    <h1>Configuración del Diseño de Casos de Prueba</h1>
  </div>
  <div class="panel panel-success">
    <div class="panel-body">
      <%= form_tag({:controller => :excel, :action => :download}, :multipart => '1', :id => 'form_up', :method => :post) do   %>
          <input type="text" value="<%= @path %>" name="path" style="display: none"/>
          <input type="text" value="<%= @cu %>" name="extension" style="display: none"/>
          <input type="number" value="<%= @sprint %>" min="1" class="form-control" id="sprint" name="sprint" style="display: none">
          <input type="text" class="form-control" id="nombre_corto" name="nombre_corto" value="<%= @cu_name_short %>" style="display: none">
          <input type="checkbox" name="prioridad" id="prioridad" <% if @prioridad %>checked<% end %> style="display: none">
          <input type="text" readonly class="form-control" id="nombre_cu" name="nombre_cu" value="<%= @cu_name %>" style="display: none">
          <div class="form-group">
            <label for="sprint">Caso de Uso:</label>
            <p class="form-control"> <%= @cu_name %> </p>
          </div>

          <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#nav_precondicion" aria-controls="nav_precondicion" role="tab" data-toggle="tab">Precondición</a></li>
              <li role="presentation"><a href="#nav_pasos" aria-controls="nav_pasos" role="tab" data-toggle="tab">Pasos</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="nav_precondicion">
                <div class="panel panel-default">
                  <div class="panel-body">

                    <div class="form-group">
                      <select class="form-control select2" id="select_precondicion">
                        <option selected value="0">Una precondición para todos los casos de prueba</option>
                        <option value="1">Una precondición diferente para cada user story</option>
                      </select>
                    </div>

                    <div class="form-group" id="precondicion_all">
                      <label for="precondicion">Precondiciones Genéricas para todos los Casos de Prueba:</label>
                      <textarea class="form-control" id="precondicion" name="precondicion" ></textarea>
                    </div>


                    <div class="panel-group" id="accordion_precondicion" role="tablist" aria-multiselectable="false" style="display: none;" >

                      <% @us.each do |us| %>
                          <div class="panel panel-success">

                            <div class="panel-heading" role="tab">
                              <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion_precondicion" href="#collapse_precondicion_us_<%= us.to_i %>" aria-expanded="false"  aria-controls="collapse_precondicion_us_<%= us.to_i %>">
                                  <% if us.to_i < 10 %>
                                      User Story 0<%= us.to_i %>
                                  <% else %>
                                      User Story <%= us.to_i %>
                                  <% end %>
                                </a>
                              </h4>
                            </div>
                            <div id="collapse_precondicion_us_<%= us.to_i %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse_precondicion_us_<%= us.to_i %>">
                              <div class="panel-body">
                                <% if us.to_i < 10 %>
                                    <label for="precondicion_us_<%= us.to_i %>">Precondiciones Genéricas para todos los Casos de Prueba del User Story 0<%= us.to_i %>: </label>
                                <% else %>
                                    <label for="precondicion_us_<%= us.to_i %>">Precondiciones Genéricas para todos los Casos de Prueba del User Story <%= us.to_i %>: </label>
                                <% end %>
                                <textarea class="form-control" id="precondicion_us_<%= us.to_i %>" name="precondicion_us_<%= us.to_i %>" ></textarea>
                              </div>
                            </div>
                          </div>

                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="nav_pasos">
                <div class="panel panel-default">
                  <div class="panel-body">

                    <div class="form-group">
                      <select class="form-control select2" id="select_pasos">
                        <option selected value="0">Un paso para todos los casos de prueba</option>
                        <option value="1">Un paso diferente para cada user story</option>
                      </select>
                    </div>

                    <div class="form-group" id="pasos_all">
                      <label for="pasos">Pasos para Todos los Casos de Prueba:</label>
                      <textarea class="form-control" id="pasos" name="pasos"></textarea>
                    </div>

                    <div class="panel-group" id="accordion_pasos" role="tablist" aria-multiselectable="false" style="display: none;" >

                      <% @us.each do |us| %>
                          <div class="panel panel-success">

                            <div class="panel-heading" role="tab">
                              <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion_pasos" href="#collapse_pasos_us_<%= us.to_i %>" aria-expanded="false"  aria-controls="collapse_pasos_us_<%= us.to_i %>">
                                  <% if us.to_i < 10 %>
                                      User Story 0<%= us.to_i %>
                                  <% else %>
                                      User Story <%= us.to_i %>
                                  <% end %>
                                </a>
                              </h4>
                            </div>
                            <div id="collapse_pasos_us_<%= us.to_i %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse_pasos_us_<%= us.to_i %>">
                              <div class="panel-body">
                                <% if us.to_i < 10 %>
                                    <label for="pasos_us_<%= us.to_i %>">Pasos Genéricos para todos los Casos de Prueba del User Story 0<%= us.to_i %>: </label>
                                <% else %>
                                    <label for="pasos_us_<%= us.to_i %>">Pasos Genéricos para todos los Casos de Prueba del User Story <%= us.to_i %>: </label>
                                <% end %>
                                <textarea class="form-control" id="pasos_us_<%= us.to_i %>" name="pasos_us_<%= us.to_i %>" ></textarea>
                              </div>
                            </div>
                          </div>

                      <% end %>

                    </div>



                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success btn-block">Generar Excel</button>
      <% end %>
    </div>
  </div>
</div>